.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.notes__appbar div:first-child {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 3% 97%;
    column-gap: 5%;
    align-items: center;
}

.notes__appbar div:first-child i {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input,
.notes__textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

.notes__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea {
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.notes__image img {
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}


@media (max-width: 645px) {
    main {
        width: 100%;
        height: 100vh;
    }

    .notes__appbar div:first-child i {
        display: block;
    }

    .notes__appbar span {
        font-size: 14.5px;
    }

    .btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .notes__appbar div:first-child {
        grid-template-columns: 7% 93%;
    }
}

@media (max-width: 375px) {
    .notes__appbar span {
        font-size: 12px;
    }

    .notes__appbar div:first-child {
        grid-template-columns: 10% 90%;
    }

    .btn {
        font-size: 11.5px;
    }
}

@media (max-width: 290px) {
    .notes__appbar div:first-child {
        grid-template-columns: 15% 85%;
    }
}
